@font-face{
    font-family: "Poppins200";
    src: url("fonts/Poppins-ExtraLight.ttf");
}

@font-face{
    font-family: "Poppins300";
    src: url("fonts/Poppins-Light.ttf");
}

@font-face{
    font-family: "Poppins400";
    src: url("fonts/Poppins-Regular.ttf");
}

@font-face{
    font-family: "Poppins500";
    src: url("fonts/Poppins-Medium.ttf");
}

@font-face{
    font-family: "Poppins600";
    src: url("fonts/Poppins-SemiBold.ttf");
}

@font-face{
    font-family: "Poppins700";
    src: url("fonts/Poppins-Bold.ttf");
}

*{
    margin: 0;
    padding: 0;
}

html{
    --desktop-width: 1440px;
    --mobile-width: 375px;
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%); 
    --blue: hsl(248, 32%, 49%);
    --darkBlue: hsl(249, 10%, 26%);
    --grayishBlue: hsl(246, 25%, 77%);
    font-size: 16px;
}

body{
    width: var(--mobile-width);
    background: url("images/bg-intro-mobile.png");
    background-color: var(--red);
}

h2{
    margin-bottom: 20px;
    margin-left: 25px;
    width: 275px;
    font-family: "Poppins600";
}

a{
    text-decoration: none;
    color: var(--red);
    font-family: "Poppins500";
}

p{
    font-family: "Poppins400";
}

#container{
    min-width: 325px;
    color: white;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    margin-left: 25px;
}

#apresentation{
    width: 325px;
    margin-top: 70px;
    margin-bottom: 55px;
}

#apresentation p{
    margin-left: 12.5px;
    font-family: "Poppins300";
    width: 310px;
}

#tryIt{
    background: var(--blue);
    border-radius: 8px;
    min-width: 285px;
    max-height: 50px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1.25px solid hsla(249, 10%, 26%, 0.25);
    box-shadow: 0 7px 1px hsla(249, 10%, 26%, 0.25);
}

#tryIt p{
    margin-left: 55px;
    width: 175px;
    font-family: "Poppins600";
}

#tryIt span{
    font-family: "Poppins200";
}

input{
    line-height: 3.5em;
    border: 1px solid hsla(246, 25%, 77%, 0.4);
    border-radius: 5px;
    margin: 7px 0;
    padding-left: 15px;
    width: 256px;
    font-family: "Poppins600";
    outline: none;
}

input:focus{
    border-color: hsla(249, 10%, 26%, 1);
}

#signUp{
    width: 275px;
    padding: 13px 25px 25px;
    background: white;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 28px;
    box-shadow: 0 7px 1px hsla(249, 10%, 26%, 0.25);
}

#signUp button{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 275px;
    height: 53px;
    color: white;
    text-transform: uppercase;
    border-radius: 7px;
    background: var(--green);
    font-family: "Poppins500";
    font-size: 1em;
    border: 1.25px solid  hsl(154, 59%, 44%);
    box-shadow: 0 4px 1px hsl(154, 59%, 44%);
    outline: none;
}

#signUp button:hover{
    opacity: 75%;
    cursor: pointer;
}

#signUp p{
    margin-left: 2.5px;
    font-size: 12px;
    width: 270px;
    color: hsla(246, 25%, 77%, 0.8);
}

#signUp a{
    color: var(--red);
    font-weight: 700;
    font-family: "Poppins700";
}

.errorPlace input::placeholder{
    color: var(--red);
}

.error p{
    font-family: "Poppins400";
    color: var(--red);
}

.error img{
    transform: translate(-75px, 60px);
}

@media only screen and (min-width: 1440px){
    html{
        height: 800px;
        margin: 0;
        padding: 0;
        width: var(--desktop-width);
        background: white;
    }

    *{
        margin: 0;
        padding:0;
    }

    body{
        margin: 0;
        padding: 100px 150px;
        width: 1140px;
        height: 600px;
        max-height: 800px;
        background: url("images/bg-intro-desktop.png");
        background-color: var(--red);
    }
    
    #container{
        margin: 0;
        width: 1140px;
        height: 600px;
        display: flex;
        flex-wrap: wrap;
    }
    
    #apresentation{
        width: 570px;
        margin: 0;
        padding: 0;
    }

    #apresentation h2{
        margin: 150px 0 35px;
        line-height: 1.10em;
        width: 405px;
        font-size: 48px;
    }

    #apresentation p{
        margin: 0;
        width: 500px;
        text-align: left;
    }

    #offer{
        height: 600px;
        width: 500px;
    }

    #tryIt{
        min-height: 37.5px;
        height: 37.5px;
        padding: 0;
        padding-top: 12.5px;
        margin-bottom: 25px;
    }

    #tryIt p{
        width: 320px;
        margin: 0;
        margin-left: 90px;
        padding: 0;
    }

    form{
        padding: 0;
        margin: 0;
    }

    input{
        padding-left: 30px;
        margin: 5px 0 15px;
        width: 396px;
        height: 50px;
    }
    
    #signUp{
        width: 440px;
        height: 405px;
        margin: 0;
        padding: 35px 30px 30px;
    }

    #signUp button{
        width: 440px;
        margin-bottom: 18px;
    }

    #signUp p{
        margin-left: 36.5px;
        font-family: "Poppins500";
        width: 367px;
        font-size: 11px;
    }

    #signUp a {
        
        font-family: "Poppins700";
    }
}